/* Inicio: Estilos das datas*/

.diaFeriado {
    color: red;
    border: 1px black;
    background-color: azure;
    font-size: 12px;
}

.finalDeSemana {
    color: red;
    border: 1px black;
    background-color: azure;
    font-size: 12px;
}



.dia_agendamento {
    color: black;
    font-size: 15px;
    background-color: rgb(181, 179, 184);
    text-align: center;
}

.dia_agendamento:hover {
    color: aliceblue;
}

/* Fim: Estilos das datas*/
/* Inicio: */
.id_mon, .compareceu {
	width: 60px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.compareceu{
    width: 120px;
}
/*Fim: */

/* Inicio:  Style TDs ----------*/

th#hora {
    width: 80px;
    text-align: left;
    padding-left: 10px !important;
}

th#id {
    width: 80px;
}

td.id_td {
    width: 65px;
}

th#monitorado {
    width: 460px;
}

#nome_monitorado.nome_input {
    width: 100%;
    text-align: left;
    margin: 0px;
}

td.nome_td  { 
    width: 300px;
} 

th#motivo {
    width: 300px;
    padding-left: 0px;
    padding-right: 0px;
}

th#ct, th#c, th#t {
    text-align: left;
    width: 50px;
}

td.compareceu_td {
    width: 90px;
}

.materiais {
  width: 30px;
}

td.motivo_td {
    width: 200px;
}

select.achou.motivo_agendamento {
    width: 180px;
}

td.horario_td{
    width: 50px;
    padding-left: 15px !important;
    padding-right: 0px !important;
    vertical-align: inherit !important;
}

.id_td{
	width: 10px;
}

.compareceu_td{
	width: 106px;
	vertical-align: top !important;
}

.materiais_td{
    width: 30px;
}

.th-menu p {
    padding: 0px;
}

.campo_hora, .posicao{
    visibility: hidden;
    display: none;
    z-index: -1;
}

.motivo_agendamento {
    width: 190px;
}

/* Fim:  Style TDs ----------*/


/* Inicio: Botoes de ADD, EDIT e DELET*/

.acao_agend {
	width: 90px;
}

#acao{
    width: 150px;
}

.add {
    background: #137e19;
}

.edit {
    background: gray;
}

.delete {
    background: #ea2626;
}

.action {
	padding: 6px;
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	margin: 0px 2px;
}

.action:hover {
	text-decoration: none;
	color: #fff;
}

.position {
	display: inline;
	
}

button.position{
    border: 0px;
}

tr>*{
    padding: 0px !important;
}
/*Fim: Botoes de ADD, EDIT e DELET */
