.container_body{
	margin-top: 200px;
}

.table_head{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
}

.head_fixo{
	position:fixed;
	z-index:999;
	left:5px;
	top: 0px;
	/* overflow:hidden; */
	/* border:1px dashed #CCC; */
	/* padding:6px; */
	width: 100%;
	background: #fff;
}

th{
	text-align: center;
}

tr td *{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

tr td a{
	display: inline;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;	
	text-align: left;
}

.container {
	margin-left: auto;
	width: 1400px !important;
	align-content: center;
}

.tr_lista_monitorados th{
	text-align: left;
}
